<div class="container" id="login-form">
  <div class="row">

      <h3>log in</h3>
      <%= bootstrap_form_for(resource,
                              as: resource_name,
                              url: session_path(resource_name)) do |f| %>

          <%= f.email_field :email,
                            autofocus: true,
                            class: 'form-control' %>

          <%= f.password_field :password,
                                autocomplete: "off",
                                class: 'form-control' %>

        <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me, class: "remember" %><br />
          <% end -%>

          <%= f.submit "login", class: 'btn login-button' %>
      <% end %>

  </div>
</div>
